<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hi, my name is Tahim</h1>
    <p>Welcome to my portfolio</p>
    <a href="/projects">Projects</a>
    <p>I have a variety of projects both personal and contract. Thy are built using Python, Sqift, and JS</p>
    <a href="/about">About Me</a>
    <p>I have a variety of projects both personal and contract. Thy are built using Python, Sqift, and JS</p>
    <a href="/testimonials">testimonials</a>
    <p>I have a variety of projects both personal and contract. Thy are built using Python, Sqift, and JS</p>
  </body>
</html>
