<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Friends</title>
  </head>
  <body>
    <h1>Welcome {{users.first_name}}</h1>
    <a href="/logout">Logout</a>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Action</th>
      </tr>
      {% for friend in user.friends.all %}
      <tr>
        <td>{{friend.first_name}}</td>
        <td>{{friend.last_name}}</td>
        <td>{{friend.email}}</td>

        <td><a href="/delete/{{friend.id}}">Delete</a></td>

      </tr>
      {% endfor %}
    </table>
    <h1>Add a Friend</h1>
    <form class="" action="/addfriend" method="post">
      {% csrf_token %}
      First Name: <input type="text" name="first_name" value="">
      Last Name: <input type="text" name="last_name" value="">
      Email: <input type="text" name="email" value="">
      <input type="submit" name="" value="Add a Friend">
    </form>
  </body>
</html>
