<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome</h1>
    </div>
    <p>We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
    <form class="" action="/signin" method="post">
      <input type="submit" name="" value="Start">
    </form>
    <h4>Manage Users</h4>
    <p>Some text</p>
    <h4>Leave Messages</h4>
    <p>Some text</p>
    <h4>Edit User Information</h4>
    <p>Some text</p>
  </body>
</html>
